h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #071418;
}

button {
  margin-bottom: 5px;
  width: 210px;
  height: 30px;
  text-align: left;
  font-size: 14px;
  color: teal;
}

.test {
  display: block;
  margin-top: 10px;
}

.content {
  width: 860px;
}