body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}
body div {
  display: block;
  margin: 0 auto;
}
body div .wrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
body div .wrapper .left {
  margin-left: 0px;
  margin-right: 0px;
}
body div .wrapper .left img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
body div .wrapper .left h3 {
  font-family: Roboto-Regular;
}
body div .wrapper .right {
  margin-left: 0px;
  margin-right: 0px;
}
body div .wrapper .right form {
  background-color: white;
  padding: 20px 20px;
  border-radius: 5px;
}
body div .wrapper .right form button, body div .wrapper .right form input {
  display: block;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
body div .wrapper .right form input {
  width: 340px;
  height: 52px;
  padding-left: 25px;
  margin-bottom: 10px;
}
body div .wrapper .right form .btn__Logon {
  width: 370px;
  height: 52px;
  background-color: #424242;
  color: white;
  margin-bottom: 20px;
}
body div .wrapper .right form a {
  text-decoration: none;
  font-family: Roboto-Regular;
}
body div .wrapper .right form .btn__CreatAcc {
  margin-top: 20px;
  width: 370px;
  height: 52px;
  background-color: #0B615E;
  color: white;
}
body div .footer {
  border-top: 1px solid black;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}
body div .footer .f {
  margin-left: 0;
  margin-right: 0;
}
body div .footer .university {
  margin-top: 30px;
}
body div .footer .university img {
  width: 100px;
  height: 100px;
  padding: 10px;
}