body {
  margin: 0;
  padding: 0;
}

.content_login {
  width: 100%;
}
.content_login .nav {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}
.content_login .nav img {
  width: 100px;
  border-radius: 50%;
  margin-left: 50px;
}
.content_login .nav .menu_nav ul {
  display: inline-flex;
  justify-content: space-between;
}
.content_login .nav .menu_nav ul a {
  text-decoration: none;
  list-style: none;
  margin-right: 25px;
  padding: 5px 5px;
  color: white;
}
.content_login .nav .menu_nav ul a li i {
  padding-right: 5px;
}
.content_login .m {
  margin-bottom: 20px;
}
.content_login .m h1 {
  text-align: center;
}
.content_login .m .farm_manage .synthetic {
  display: block;
  width: 425px;
  background-color: #51a351;
  border: 1px solid;
  margin: 0 auto;
  height: 50px;
}
.content_login .m .farm_manage .n {
  display: flex;
  justify-content: center;
}
.content_login .m .farm_manage .n button {
  height: 50px;
  width: 210px;
  margin-top: 5px;
}
.content_login .m .farm_manage .n .maF {
  margin-left: 5px;
}
.content_login .userManual h4 {
  color: teal;
}
.content_login .userManual ul {
  list-style: none;
}

ul a :hover {
  color: yellow;
}