form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
form .styleInput {
  width: 350px;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 20px;
}
form button {
  margin-top: -10px;
  width: 355px;
  height: 45px;
  border-radius: 5px;
  background-color: #01A9DB;
}