body {
  margin: 0;
  padding: 0;
}

h1 {
  color: steelblue;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
}
.content .search_RP {
  display: block;
  width: 195px;
}
.content .search_RP h3 {
  text-align: center;
}
.content .search_RP .input_key {
  height: 24px;
  width: 179px;
}
.content .search_RP .search {
  height: 30px;
  width: 50px;
  margin-left: -50px;
}
.content .search_RP .tutorial {
  margin-top: 10px;
  width: 190px;
  height: 27px;
  display: block;
}
.content .content_right .btn_Cr {
  margin-right: 5px;
  width: 305px;
  height: 30px;
  text-align: left;
  font-size: 14px;
  color: teal;
}
.content .content_right .test {
  display: block;
  margin-top: 10px;
}