body {
  margin: 0;
  padding: 0;
}
body ul a :hover {
  color: yellow;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}
.nav img {
  width: 100px;
  border-radius: 50%;
  margin-left: 50px;
}
.nav .menu_nav ul {
  display: inline-flex;
  justify-content: space-between;
}
.nav .menu_nav ul a {
  text-decoration: none;
  list-style: none;
  margin-right: 25px;
  padding: 5px 5px;
  color: white;
}
.nav .menu_nav ul a li i {
  padding-right: 5px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}
.wrapper .search_RP {
  display: block;
  width: 195px;
}
.wrapper .search_RP h3 {
  text-align: center;
}
.wrapper .search_RP .input_key {
  height: 24px;
  width: 179px;
}
.wrapper .search_RP .search {
  height: 30px;
  width: 50px;
  margin-left: -50px;
}
.wrapper .search_RP .tutorial {
  margin-top: 10px;
  width: 190px;
  height: 27px;
  display: block;
}
.wrapper .search_Bm .tutorial {
  display: block;
}
.wrapper .data_Bm .data_Bm_width {
  width: 700px;
}
.wrapper .data_Bm .data_Bm_width .styleBtnData {
  width: 220px;
  height: 40px;
  text-align: left;
  margin-bottom: 5px;
}
.wrapper .list_Bc ul {
  list-style: none;
}
.wrapper .list_Bc ul :hover {
  color: blue;
}
.wrapper .list_Bc ul li {
  margin-bottom: 7px;
}
.wrapper .list_Bc ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: arial;
  color: black;
}