@media screen and (min-width: 768px) {
    body {
        background-color: #fff;
    }
}
.breadcrumb {
    border-radius: 0px;
    padding: 8px 10px;
}
a, a:focus, a:hover {
    color: #000;
}
.btn-success {
    background-color: #28A90C;
    /*background-color: #824A1A;*/
}
/*-------------*/
header {
    background-color: #824A1A!important;
}
header .header-top {
    background-color: #824A1A!important;
    height: 30px;
    color: #fff;
}
header .header-top i{
    margin: 0px 4px;
}
header .header-top .space {
    margin: 0px 10px;
}

.menu-top .form-group input {
    color: #fff;
    border: none !important;
    background-color: #1d7d08fc;
}
.mini-footer {
    height: 30px;
    background-color: #824A1A!important;
}

.side-left .branch {
    padding: 8px 10px 8px 15px;
    background-color: #28A90C;
    /*background-color: #824A1A;*/
    color: #fff;
}

.side-left .branch span {
    font-size: 16px;
    text-transform: uppercase;
}
@media screen and (min-width: 992px) {
    .side-left .branch span {
        font-size: 15px;
        text-transform: uppercase;
    }
}
@media screen and (min-width: 1280px) {
    .side-left .branch span {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.side-left .category-item a {
    color: #28A90C;
    transition: width 0s;
    line-height: 25px;
    height: 40px;
    font-size: 15px;
}
.side-left .category-item span {
    font-weight: bold;
}
.side-left .category-item a:hover {
    transition: width 0s;
    /*background-color: #824A1A!important;*/
}
.side-left .category-item {
    height: 40px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.group-title {
    position: relative;
    margin-bottom: 20px;
    /*border-bottom: 3px solid #824A1A !important;*/
}
.group-title .item {
    position: absolute;
    left: calc(50% - 70px);
    background-color: #fff;
    padding: 5px 15px;
    bottom: -18px;
    font-weight: bold;
    /*color: #28A90C;*/
    /*color: #824A1A;*/
}



/*// Banner Top*/
.banner-top {
    height: 150px;
    background-color: #fff;
}
.banner-top-wrap {
   height: 150px;
}
@media screen and (min-width: 768px) {
  .banner-top {
      height: 120px;
  }
  .banner-top-wrap {
     height: 120px;
  }
}
.banner-top-wrap .logo img {
    height: 93px !important;
}

.banner-top-wrap .item img {
    height: 41px;
    margin-right: 10px;
}


/*Tu vân*/
.tu-van {
    height: 105px;
    background-color: #e4e4e4;
    color: #000;
    margin-top: 25px;
}
.tu-van-wrap {
    height: 105px;
}

.footer p {
    font-size: 14px;
    color: #000;
    font-weight: normal;
}
@media screen and (min-width: 768px)
.footer p {
    font-size: 13px;
}



/*/// brand-name*/
.brand-name {
    /*width: 250px;*/
}
.brand-name h5 {
    font-weight: bold;
    margin-bottom: 0px;
}


.menu-master a {
    border: none;
    margin-bottom: 0px;
    padding: 0px;
}

#myBtnCall {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 206px; /* Place the button at the bottom of the page */
  right: 5px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
  border-radius: 2px;
}

#myBtnCallZalo {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 109px; /* Place the button at the bottom of the page */
  right: 1px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
  border-radius: 2px;
}
#myBtnCallZalo img {
    width: 86px;
    height: 98px;
}

.blog-involve .title_header {
    border-bottom: 1px solid #28A90C !important;
}
.blog-involve .title_header span {
    border-bottom: 3px solid #28A90C !important;
}