body {
    font-family: 'Source Sans Pro', sans-serif !important;
    /*background-image: url('../../images/web/background.png');*/
    background-color: #fff;
    background-size: cover;
}
@media screen and (min-width: 768px) {
    body {
        background-color: #f1f1f1;
    }
}

.text-blue {
    color: #4A90E2;
}
.pading-0 {
    padding-left: 0px;
    padding-right: 0px;
}
.seedling-panigation .pagination .page-item.active>.page-link, .pagination .page-item.active>.page-link:focus, .pagination .page-item.active>.page-link:hover {
    background-color: #18ce0f;
    border-color: #18ce0f;
}
@media screen and (min-width: 768px) {
    .master-right-content {
        padding-left: 0px;
    }
}

/*-------------*/
header {
    background-color: #F7F7F7;
}
header .header-top {
    background-color: #F7F7F7;
    height: 30px;
}
header .header-top i.fa-mobile {
    font-size: 18px;
    margin-right: 4px;
}
header .header-top i.fa-facebook {
    font-size: 12px;
}
header .header-top .btn {
    height: 20px;
    min-width: 20px;
    width: 20px;
    margin-left: 5px;
    background-color: #29487d;
}
header .header-top .v375-up {
    display: inherit;
}
header .header-top .v375-down {
    display: none;
}
@media screen and (max-width: 374px) {
    header .header-top .v375-up {
        display: none;
    }
    header .header-top .v375-down {
        display: inherit;
    }
}
/*BANNER*/
.banner-top {
    height: 150px;
    height: 170px;
}
.banner-top .banner-image {
    height: 150px;
    height: 170px;
    background-size: cover;
}

.content-banner-top {
    position: absolute;
    top: 40px;
    z-index: 1500;
    width: 100%;
}

.content-banner-top .wrap {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.content-banner-top .wrap .name-center span {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.content-banner-top .wrap .name-center span.name {
    font-size: 16px;
}

.content-banner-top .wrap .address {
    margin-top: 2px;
    padding-left: 15px;
    padding-left: 5px;
    padding-right: 3px;
}
@media screen and (min-width: 414px) {
    .content-banner-top .wrap .address  {
        padding-left: 15px;
    }
}
.content-banner-top .wrap .address span {
    color: #fff;
    font-size: 12px;
}
@media screen and (min-width: 375px) {
    .content-banner-top .wrap .address span {
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) {
    .content-banner-top .wrap {
        width: 420px;
    }
    .content-banner-top .wrap .name-center span {
        font-size: 20px;
    }
    .content-banner-top .wrap .address {
         margin-top: 10px;
    }
    .content-banner-top .contact {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        padding: 5px 45px;
    }
    .content-banner-top .contact span {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    .content-banner-top .contact span.phone {
        font-size: 18px;
    }
}
@media screen and (min-width: 1024px) {
    .content-banner-top .wrap {
        width: 480px;
    }
    .content-banner-top .wrap .name-center span {
        font-size: 25px;
    }
    .content-banner-top .wrap .name-center span.name {
        font-size: 18px;
    }
    .content-banner-top .wrap .address {
        margin-top: 10px;
        padding-left: 15px;
    }
    .content-banner-top .wrap .address span {
        color: #fff;
        font-size: 16px;
    }
    .content-banner-top .contact span.phone {
        font-size: 28px;
    }
}

.content-banner-top-item {
    min-width: 100%;
}
@media screen and (min-width: 768px) {
    .content-banner-top-item {
        min-width: inherit;
    }
}

/*MENU-TOP*/
nav {
    /*background-color:#28a745;*/
    background-color:#28A90C;
}
.menu-top {
    height: 50px;
}
.menu-top .nav li a:first-child {
    padding-left: 0px;
}
.menu-top .nav li a {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 15px;
    font-size: 13px;
}
@media screen and (min-width: 1024px) {
    .menu-top .nav li a {
        padding: 0px 30px;
        font-size: 14px;
    }
}
@media screen and (min-width: 1280px) {
    .menu-top .nav li a {
        padding: 0px 30px;
    }
}
.menu-top .nav li a:hover {
    color: #FFEC00;
}
.menu-top .nav a.active {
    color: #FFEC00;
}
.menu-top .form-group {
    margin-bottom: 0px;
    width: 160px;
}
@media screen and (min-width: 1024px) {
    .menu-top .form-group {
        width: 220px;
    }
}
@media screen and (min-width: 1280px) {
    .menu-top .form-group {
        width: 300px;
    }
}


/*// Chỉnh riêng cho mobile*/
.menu-top-mobile input {
    border-radius: 6px;
}
.menu-top-mobile .form-group .form-control,
.menu-top-mobile .input-group .form-control {
    padding: 8px 18px;
}

.menu-top-mobile .form-group {
    width: 180px;
}
@media screen and (min-width: 375px) {
    .menu-top-mobile .form-group {
        width: 205px;
    }
}
@media screen and (min-width: 425px) {
    .menu-top-mobile .form-group {
        width: 270px;
    }
}

.action-menu {
    color: #fff;
}
.action-menu i {
    font-size: 22px;
}
.action-menu span {
    font-size: 10px;
}


/*Chỉnh MENU xở ra ở bản mobile*/

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  background-color: #4a4a4a; /* Black*/
  background-color: #1eab00; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*// Menu Master*/
.menu-master {
    background-color: #28A90C;
    padding: 10px 10px 10px 15px;
    margin-bottom: 10px;
}
.menu-master a {
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    border: 1px solid;
    padding: 3px 4px 3px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}





/*TEXT-RUN_TOP*/
.text-run-top {
    height: 27px;
}


/*SIDE-LEFT*/
.side-left {
    margin-bottom: 15px;
}
.side-left .branch {
    padding: 12px 10px 12px 15px;
    background-color: #28A90C;
    color: #fff;
}
.side-left .branch i.fa-bars {
    font-size: 17px;
    margin-right: 10px;
}
.side-left .branch span {
    font-size: 18px;
    text-transform: uppercase;
}
@media screen and (min-width: 992px) {
    .side-left .branch span {
        font-size: 17px;
        text-transform: uppercase;
    }
}
@media screen and (min-width: 1280px) {
    .side-left .branch span {
        font-size: 18px;
        text-transform: uppercase;
    }
}
.side-left .category-item {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 45px;
}
.side-left .category-item a {
    color: #28A90C;
    height: 45px;
    padding-top: 13px;
}
@media screen and (min-width: 768px) {
    .side-left .category-item a {
        font-size: 12px;
        padding: 13px 0px 13px 5px;
    }

}
@media screen and (min-width: 992px) {
    .side-left .category-item a {
        font-size: inherit;
        padding: .5rem 1rem;

    }
}
.side-left .category-item a:hover {
    color: #fff;
    background-color: #28A90C;
    transition: width 3s;
}
.side-left .category-item i {
    font-size: 15px;
    margin-right: 10px;
}
.side-left .category-item span {
    font-weight: bold;
    text-transform: capitalize;
}
/*FOOTER*/
footer .big-footer {
    background-color: #eaeaea;
    background-color: rgb(56, 56, 56);
    /*background-color: #005E20;*/
    /*background-color: #005E20;*/
    background-color: #824A1A!important;
    background-color: #f8f8f8!important;
    min-height: 200px;
    padding: 20px 0px;
}
footer .facebook {
    min-height: 200px;
    margin-top: 15px;
}
.mini-footer {
    height: 50px;
    background-color: #3e3e3e;
    background-color: #28A90C;
    background-color: #777777;
}
.mini-footer span {
    color: #fff;
}

.mini-footer .v424-up {
    display: inherit;
}
.mini-footer .v424-down {
    display: none;
}
@media screen and (max-width: 424px) {
    .mini-footer .v424-up {
        display: none;
    }
    .mini-footer .v424-down {
        display: inherit;
    }
}
.big-footer .name-center {
    font-size: 18px;
    color: #417505;
    text-transform: uppercase;
    font-weight: bold;
}
.big-footer img {
    width: 19px;
    height: 19px;
    margin-right: 15px;
}
.big-footer .address {
    color: #4A90E2;
    color: #29487d;
    font-weight: bold;
}
.big-footer .description {
    margin: 5px 0px 5px 35px;
    color: #1f4623;
    color: #000;
}

.download {
    margin-top: 20px;
}
.download img {
    width: 150px;
    height: auto;
}